<p style="color: green"><%= notice %></p>

<% if @page %>
  <%= render @page %>
<% else %>
  <p style="color: red;">Page not found.</p>
<% end %>

<div>
  <%= link_to "Edit this page", edit_page_path(@page) if @page %> |
  <%= link_to "Back to pages", pages_path %>

  <%= button_to "Destroy this page", @page, method: :delete if @page %>
</div>
