<% content_for(:title) { @product.title } %>

<h2 class="title is-3"><%= @product.title %></h2>

<p>
    <strong>Category:</strong>
    <%= link_to @product.category.name, @product.category%>
</p>
<p>
    <strong>Brand:</strong>
    <%= link_to @product.brand.name, @product.brand%>
</p>
<p>
    <strong>Description:</strong>
    <%= @product.description%>
</p>
<p>
    <strong>Price:</strong>
    <%= @product.price%>
</p>
<p>
    <strong>Quantity In Stock:</strong>
    <%= @product.stock_quantity%>
</p>
