<% content_for(:title) { @product.name } %>

<h2 class="title is-3"><%= @product.name %></h2>

<p>
    <strong>Category:</strong>
    <%= link_to @product.category.name, @product.category%>
</p>
<p>
    <strong>Brand:</strong>
    <%= link_to @product.brand.name, @product.brand%>
</p>
<p>
    <strong>Description:</strong>
    <%= @product.description%>
</p>
<p>
    <strong>Price:</strong>
    <%= @product.price%>
</p>
<p>
    <strong>Quantity In Stock:</strong>
    <%= @product.stock_quantity%>
</p>

<div class="field mt-5">
  <%= form_with url: cart_items_path, method: :post, local: true do %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= submit_tag "Add to Cart", class: "button is-primary" %>
  <% end %>
</div>
